In [40]:
import pandas as pd
import numpy as np

In [41]:
pd.set_option('display.max_columns', None)

In [42]:
df = pd.read_csv('cleaned_data_v3.csv')

In [43]:
df.columns

Index(['Unnamed: 0', 'Facing', 'No_Bedroom', 'No_Bathroom', 'No_Balcony',
       'Corner_Property', 'Furnishing', 'Address', 'Main Description',
       'Nearby Locations', 'Features', 'Dealer', 'Society Name',
       'Price_in_Crore', 'price_Per_Sqft_converted', 'given_area_in_sqft',
       'floor_number', 'total_floors', 'AreaType_Built-up Area',
       'AreaType_Carpet Area', 'AreaType_Super Built-up Area', 'study room',
       'servant room', 'store room', 'pooja room', 'Overlooking_others',
       'Overlooking_main road', 'Overlooking_sea facing', 'Overlooking_club',
       'Overlooking_park/garden', 'Overlooking_pool',
       'Overlooking_lake facing', 'Overlooking_NA', 'flat_age', 'sector_num'],
      dtype='object')

In [44]:
df = df.drop(columns = ['Unnamed: 0', 'Address', 'Main Description' , 'Dealer'  , 'Overlooking_others',
       'Overlooking_main road', 'Overlooking_sea facing', 'Overlooking_club',
       'Overlooking_park/garden', 'Overlooking_pool',
       'Overlooking_lake facing', 'Overlooking_NA' ])

In [45]:
df = df.drop(columns = ['study room',
       'servant room', 'store room', 'pooja room'])

In [46]:
df.sample(4)

,Facing,No_Bedroom,No_Bathroom,No_Balcony,Corner_Property,Furnishing,Nearby Locations,Features,Society Name,Price_in_Crore,price_Per_Sqft_converted,given_area_in_sqft,floor_number,total_floors,AreaType_Built-up Area,AreaType_Carpet Area,AreaType_Super Built-up Area,flat_age,sector_num
10823,0.0,3,2.0,3,0,1.0,"['Chintapurni Mandir', 'State bank ATM', 'Esic...","['Security / Fire Alarm', 'Lift(s)', 'High Cei...",the new crpf apartments,1.10,805459.356,1582,3,9,0,1,0,5,9
5802,5.0,3,2.0,3,1,1.0,"['Sector 55-56 Metro Station', 'Airia Mall', '...","['Security / Fire Alarm', 'Power Back-up', 'Fe...",pareena mi casa,1.50,10114.000,1483,10,35,0,0,1,1,68
130,4.0,2,2.0,3,1,1.0,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...","['Security / Fire Alarm', 'Power Back-up', 'Fe...",m3m heights,2.14,17000.000,1261,17,34,0,0,1,1,65
7734,4.0,4,4.0,3,0,1.0,"['AIPL Joy Street Mall', 'Golf Course Extensio...","['Security / Fire Alarm', 'Private Garden / Te...",ireo victory valley,6.25,24038.000,3130,10,51,0,0,1,4,67

In [47]:
df.loc[df['AreaType_Built-up Area'] == 1, 'Super Built-up Area'] = df['given_area_in_sqft'] * 1.2

# Apply the 1.35 factor for rows with 'Carpet Area'
df.loc[df['AreaType_Carpet Area'] == 1, 'Super Built-up Area'] = df['given_area_in_sqft'] * 1.35
df.loc[df['AreaType_Super Built-up Area'] == 1 , 'Super Built-up Area'] = df['given_area_in_sqft'] * 1

In [48]:
df['floor_ratio'] = df['floor_number']/df['total_floors']

In [49]:
df = df.drop(columns = ['floor_number' , 'total_floors',])

In [50]:
def categorize_floor(floor):
    if  floor <= 0.33:
        return "Low"
    elif 0.33 < floor <= 0.66:
        return "Mid"
    elif floor > 0.66:
        return "High"
    else:
        return None

In [51]:
df['floor_category'] = df['floor_ratio'].apply(categorize_floor)

In [52]:
df = df.drop(columns = ['floor_ratio'])

In [53]:
balcony_mapping = {
    4: '3+',
    3 : '3',
    2 : '2',
    1 : '1',
    0 : '0',
}

df['No_Balcony'] = df['No_Balcony'].map(balcony_mapping)

In [54]:
status_mapping = {
    3 : 'Relatively New',
    1 : 'New Property',
    4: 'Moderately Old',
    2: 'Under Construction',
    5 : 'Old Property',
    6: 'Undefined'
}

df['flat_age'] = df['flat_age'].replace(status_mapping)

In [55]:
replacements = {
    1 : 'Yes',
    0 : 'No'
}

df['Corner_Property'] = df['Corner_Property'].replace(replacements)

In [56]:
status_mapping = {
        
    0.0 : 'East',
    1.0 : 'West',
    2.0 : 'North',
    3.0 : 'South',
    4.0 : 'North-East',
    5.0 : 'North-West',
    6.0 : 'South-East',
    7.0 : 'South-West',
}

df['Facing'] = df['Facing'].replace(status_mapping)

In [57]:
status_mapping_Furnishing = {
    0 :'Unfurnished',
    2 : 'Furnished',
    1: 'Semifurnished',

}

df['Furnishing'] = df['Furnishing'].replace(status_mapping_Furnishing)

In [58]:
df = df.drop(columns = ['given_area_in_sqft' , 'AreaType_Built-up Area' , 'AreaType_Carpet Area' ,  'AreaType_Carpet Area'] )

In [59]:
df = df.drop(columns = ['AreaType_Super Built-up Area' , 'Nearby Locations' , 'Society Name' ])

In [60]:
df.sample(4)

,Facing,No_Bedroom,No_Bathroom,No_Balcony,Corner_Property,Furnishing,Features,Price_in_Crore,price_Per_Sqft_converted,flat_age,sector_num,Super Built-up Area,floor_category
5623,North,3,3.0,3,Yes,Semifurnished,"['Security / Fire Alarm', 'Power Back-up', 'Fe...",1.01,6424.0,Moderately Old,92,1572.0,High
3066,North-East,4,4.0,3+,Yes,Semifurnished,"['Centrally Air Conditioned', 'Water purifier'...",3.55,13829.0,Moderately Old,48,2567.0,Mid
1284,North-East,2,2.0,3+,Yes,Semifurnished,"['Feng Shui / Vaastu Compliant', 'Security / F...",1.65,10941.0,Moderately Old,70,1508.0,Mid
12373,North-East,3,3.0,2,No,Semifurnished,"['Lift(s)', 'Water purifier', 'High Ceiling He...",2.26,13556.0,New Property,79,1669.0,Mid

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12444 entries, 0 to 12443
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Facing                    12444 non-null  object
 1   No_Bedroom                12444 non-null  int64
 2   No_Bathroom               12444 non-null  float64
 3   No_Balcony                12444 non-null  object
 4   Corner_Property           12444 non-null  object
 5   Furnishing                12444 non-null  object
 6   Features                  12444 non-null  object
 7   Price_in_Crore            12444 non-null  float64
 8   price_Per_Sqft_converted  12444 non-null  float64
 9   flat_age                  12444 non-null  object
 10  sector_num                12444 non-null  int64
 11  Super Built-up Area       12444 non-null  float64
 12  floor_category            12443 non-null  object
dtypes: float64(4), int64(2), object(7)
memory usage: 1.2+ MB

In [62]:
df.to_csv('Data_visualization_df.csv')