In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Cleaned_data_v1.csv")

In [3]:
df.sample(7)

,Unnamed: 0,Facing,No_Bedroom,No_Bathroom,No_Balcony,Age,Overlooking,Corner_Property,Furnishing,Address,...,Dealer,Society Name,Price_in_Crore,price_Per_Sqft_converted,given_area_in_sqft,floor_number,total_floors,AreaType_Built-up Area,AreaType_Carpet Area,AreaType_Super Built-up Area
10238,11066,North-East,3,3.0,2,Within 6 months,Others,NaN,Semifurnished,"A-165, Sector 89 Gurgaon, Gurgaon, Haryana",...,Eternity Home Exchange,M3M Soulitude,1.42,9978.0,1423,3,4,0,1,0
7798,8474,North-East,4,4.0,2,0 to 1 Year Old,"Park/Garden,Club,Main Road,Others",NaN,Semifurnished,"002, Sector 92 Gurgaon, Gurgaon, Haryana",...,Shri Balaji Estates,DLF Garden City Floors,3.5,1145448.0,2700,1,4,0,0,1
4345,4588,North-East,3,4.0,4,0 to 1 Year Old,"Main Road,Club,Park/Garden,Pool,Others",NaN,Semifurnished,"Sector 63a Gurgaon, Sector 63A Gurgaon, Gurgao...",...,Limitless Realty,Birla Navya,3.7,18974.0,1950,1,4,0,1,0
978,992,East,2,2.0,2,Sep 2026,"Park/Garden,Main Road,Club,Pool,Others",Yes,Unfurnished,"331, Sector 113 Gurgaon , Gurgaon, Haryana",...,Harsh Associates,Smartworld One DXP,2.05,14900.0,1370,27,29,0,0,1
2345,2562,South-West,3,3.0,4,1 to 5 Year Old,"Pool,Park/Garden,Club,Main Road,Others",Yes,Semifurnished,"Tower 25, Tikri, Gurgaon, Haryana",...,Park Homes Realtors,Central Park Resorts,5.0,26752.0,1869,15,17,0,0,1
2813,3050,North-West,3,3.0,3,1 to 5 Year Old,NaN,Yes,Semifurnished,"Sector 84 Gurgaon, Gurgaon, Haryana",...,Rayirth Realty,Spaze Privy AT4,1.75,9124.0,1918,8,15,0,0,1
5599,5880,North-East,3,3.0,1,1 to 5 Year Old,"Others,Pool",NaN,Unfurnished,"Middle Floor, Sector 86 Gurgaon, Gurgaon, Haryana",...,Akay Estate,DLF The Skycourt,2.15,11145.0,1929,11,19,0,0,1

In [4]:
df.isna().sum()

Unnamed: 0                         0
Facing                           901
No_Bedroom                         0
No_Bathroom                        1
No_Balcony                         0
Age                                4
Overlooking                      774
Corner_Property                 4240
Furnishing                       416
Address                           17
Main Description                   3
Extra Room                         0
Nearby Locations                   0
Features                           0
Property Type                      0
Dealer                             0
Society Name                       0
Price_in_Crore                     0
price_Per_Sqft_converted           2
given_area_in_sqft                 0
floor_number                       0
total_floors                       0
AreaType_Built-up Area             0
AreaType_Carpet Area               0
AreaType_Super Built-up Area       0
dtype: int64

In [5]:
# extra room

df['Extra Room'].value_counts()

Extra Room
Servant Room                                 3762
No                                           2859
Study Room                                   1060
Pooja Room                                    760
Others                                        547
                                             ...
Servant Room,Pooja Room,Store Room,Others       1
Store Room,Servant Room,Pooja Room              1
Store Room,Pooja Room,Study Room                1
Others,Servant Room,Pooja Room,Study Room       1
Servant Room,Others,Pooja Room,Study Room       1
Name: count, Length: 101, dtype: int64

In [6]:
df['Extra Room'] = df['Extra Room'].str.lower()

In [7]:
df.sample(3)['Extra Room']

6631    pooja room,study room,servant room,store room
6643                                     servant room
9773                                     servant room
Name: Extra Room, dtype: object

In [8]:
new_cols = ['study room', 'servant room', 'store room', 'pooja room', 'others']

for col in new_cols:
    df[col] = df['Extra Room'].str.contains(col).astype(int)

In [9]:
df.sample(3)[['Extra Room','study room', 'servant room', 'store room', 'pooja room', 'others']]

,Extra Room,study room,servant room,store room,pooja room,others
8484,"study room,servant room",1,1,0,0,0
5875,servant room,0,1,0,0,0
10344,pooja room,0,0,0,1,0

In [10]:
pd.set_option("display.max_columns" , None)
df.head()

,Unnamed: 0,Facing,No_Bedroom,No_Bathroom,No_Balcony,Age,Overlooking,Corner_Property,Furnishing,Address,Main Description,Extra Room,Nearby Locations,Features,Property Type,Dealer,Society Name,Price_in_Crore,price_Per_Sqft_converted,given_area_in_sqft,floor_number,total_floors,AreaType_Built-up Area,AreaType_Carpet Area,AreaType_Super Built-up Area,study room,servant room,store room,pooja room,others
0,0,West,2,2.0,1,1 to 5 Year Old,"Others,Park/Garden,Main Road",NaN,Unfurnished,"0001, Sector 90 Gurgaon, Gurgaon, Haryana","Green court society, which is bang on 60-Meter...",store room,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",2 BHK Flat in Sector 90 Gurgaon,Ashiana homes,Green Court,0.61,8840.0,690,14,14,0,0,1,0,0,1,0,0
1,1,South,2,2.0,1,1 to 5 Year Old,"Others,Park/Garden,Main Road",NaN,Unfurnished,"0001, Sector 90 Gurgaon, Gurgaon, Haryana","Green court society, which is bang on 60-Meter...",store room,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",2 BHK Flat in Sector 90 Gurgaon,Ashiana homes,Green Court,0.7,10144.0,690,8,14,0,0,1,0,0,1,0,0
2,2,North-East,2,2.0,1,1 to 5 Year Old,"Park/Garden,Club,Main Road",Yes,Semifurnished,"Sector 70A Gurgaon, Gurgaon, Haryana",Available for sale 2 bhk semi furnished in pyr...,no,"['Airia Mall', 'Sohna Road', ""St. Angel's Glob...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",2 BHK Flat in Sector 70A Gurgaon,dbn group,Pyramid Urban Homes,0.71,8492.0,836,9,17,0,0,1,0,0,0,0,0
3,3,East,2,2.0,2,0 to 1 Year Old,"Pool,Park/Garden,Club,Main Road",Yes,Semifurnished,"Sector 68 Gurgaon, Gurgaon, Haryana",Looking for a 2 bhk property for sale in gurga...,no,"['Airia Mall', 'Southern Peripheral Road', 'So...","['Power Back-up', 'Security / Fire Alarm', 'In...",2 BHK Flat in Sector 68 Gurgaon,Shree Shyam Properties,M3M The Marina,1.55,12301.0,1260,9,20,0,0,1,0,0,0,0,0
4,4,North,2,2.0,4,1 to 5 Year Old,"Pool,Club,Park/Garden",Yes,NaN,"101, Sector 107 Gurgaon, Gurgaon, Haryana",This 2 bhk apartment is available for sale in ...,no,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...","['Power Back-up', 'Intercom Facility', 'Lift(s...",2 BHK Flat in Sector 107 Gurgaon,JBM Buildtech Pvt Ltd,M3M Woodshire,1.3,9516.0,1366,1,14,0,0,1,0,0,0,0,0

In [11]:
df.drop(columns=['Extra Room' , 'Unnamed: 0'])

,Facing,No_Bedroom,No_Bathroom,No_Balcony,Age,Overlooking,Corner_Property,Furnishing,Address,Main Description,Nearby Locations,Features,Property Type,Dealer,Society Name,Price_in_Crore,price_Per_Sqft_converted,given_area_in_sqft,floor_number,total_floors,AreaType_Built-up Area,AreaType_Carpet Area,AreaType_Super Built-up Area,study room,servant room,store room,pooja room,others
0,West,2,2.0,1,1 to 5 Year Old,"Others,Park/Garden,Main Road",NaN,Unfurnished,"0001, Sector 90 Gurgaon, Gurgaon, Haryana","Green court society, which is bang on 60-Meter...","['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",2 BHK Flat in Sector 90 Gurgaon,Ashiana homes,Green Court,0.61,8840.0,690,14,14,0,0,1,0,0,1,0,0
1,South,2,2.0,1,1 to 5 Year Old,"Others,Park/Garden,Main Road",NaN,Unfurnished,"0001, Sector 90 Gurgaon, Gurgaon, Haryana","Green court society, which is bang on 60-Meter...","['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",2 BHK Flat in Sector 90 Gurgaon,Ashiana homes,Green Court,0.7,10144.0,690,8,14,0,0,1,0,0,1,0,0
2,North-East,2,2.0,1,1 to 5 Year Old,"Park/Garden,Club,Main Road",Yes,Semifurnished,"Sector 70A Gurgaon, Gurgaon, Haryana",Available for sale 2 bhk semi furnished in pyr...,"['Airia Mall', 'Sohna Road', ""St. Angel's Glob...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",2 BHK Flat in Sector 70A Gurgaon,dbn group,Pyramid Urban Homes,0.71,8492.0,836,9,17,0,0,1,0,0,0,0,0
3,East,2,2.0,2,0 to 1 Year Old,"Pool,Park/Garden,Club,Main Road",Yes,Semifurnished,"Sector 68 Gurgaon, Gurgaon, Haryana",Looking for a 2 bhk property for sale in gurga...,"['Airia Mall', 'Southern Peripheral Road', 'So...","['Power Back-up', 'Security / Fire Alarm', 'In...",2 BHK Flat in Sector 68 Gurgaon,Shree Shyam Properties,M3M The Marina,1.55,12301.0,1260,9,20,0,0,1,0,0,0,0,0
4,North,2,2.0,4,1 to 5 Year Old,"Pool,Club,Park/Garden",Yes,NaN,"101, Sector 107 Gurgaon, Gurgaon, Haryana",This 2 bhk apartment is available for sale in ...,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...","['Power Back-up', 'Intercom Facility', 'Lift(s...",2 BHK Flat in Sector 107 Gurgaon,JBM Buildtech Pvt Ltd,M3M Woodshire,1.3,9516.0,1366,1,14,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12442,North-West,3,4.0,2,1 to 5 Year Old,"Pool,Park/Garden,Club,Main Road",NaN,Semifurnished,"023, Sector 82 Gurgaon, Gurgaon, Haryana","Mapsko royal ville apartment in sector 82, gur...","['Sapphire 83 Mall', 'Golf Course Ext Rd', ""St...","['Security / Fire Alarm', 'Power Back-up', 'Fe...",3 BHK Flat in Sector 82 Gurgaon,GRE SOLUTIONS,Mapsko Royale Ville,1.6,8938.0,1790,2,18,0,0,1,0,1,0,0,0
12443,North,3,3.0,2,5 to 10 Year Old,"Pool,Park/Garden,Club,Main Road,Others",Yes,Semifurnished,"Sector 49, Sector 49 Gurgaon, Gurgaon, Haryana","This 3 bhk flat is located in orchid petals, w...","['Sapphire Mall', 'Omaxe City Centre', 'BigBaz...","['Power Back-up', 'Feng Shui / Vaastu Complian...",3 BHK Flat in Sector 49 Gurgaon,PARAS ASSOCIATES & DEVELOPERS,Orchid Petals,2.9,16066.0,1805,4,14,0,0,1,0,0,0,0,0
12444,North,3,4.0,4,1 to 5 Year Old,"Park/Garden,Pool,Club,Main Road",Yes,Semifurnished,"Sector 68 Gurgaon, Gurgaon, Haryana",This is a resale unit 3bhk + study + servant w...,"['Sector 55-56 Metro Station', 'Airia Mall', '...","['Centrally Air Conditioned', 'Water purifier'...",3 BHK Flat in Sector 68 Gurgaon,GANGANIYA REALTORS,Pareena Mi Casa,2.25,11255.0,1999,10,35,0,0,1,0,1,0,0,0
12445,North,4,5.0,4,5 to 10 Year Old,"Park/Garden,Club",Yes,Semifurnished,"Sector 49, Block S Sector 49 Gurgaon, Gurgaon,...","Situated in block s sector 49 gurgaon, bestech...","['Sector 55-56 Metro Station', 'Raheja Mall', ...","['Centrally Air Conditioned', 'Security / Fire...",4 BHK Flat in Block S Sector 49 Gurgaon,PARAS ASSOCIATES & DEVELOPERS,Bestech Park View City 2,3.8,18765.0,2383,9,14,0,0,1,0,1,0,0,0
12446,North-West,4,4.0,4,5 to 10 Year Old,"Pool,Club,Park/Garden,Main Road",Yes,Semifurnished,"234, DLF Phase 5, Gurgaon, Haryana",Looking for a 4 bhk property for sale in gurga...,"['Sector 53-54 metro station', 'Sector 42-43 m...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","4 BHK Flat in DLF Phase 5, Gurgaon",Gurgaon Homes,DLF Westend Heights,6.5,27083.0,2810,8,20,0,0,1,0,1,0,0,0

In [12]:
df['Property Type'].isna().sum()

np.int64(0)

In [13]:
# property type
df['Property Type'].value_counts()

Property Type
3 BHK Flat in Sector 102 Gurgaon       357
3 BHK Flat in Sector 37D Gurgaon       282
3 BHK Flat in Sector 65 Gurgaon        223
3 BHK Flat in Sector 59 Gurgaon        201
3 BHK Flat in Sector 79 Gurgaon        195
                                      ...
4 BHK Flat in Palam Vihar, Gurgaon       1
3 BHK Flat in Manesar, Gurgaon           1
2 BHK Flat in Maruti Vihar, Gurgaon      1
2 BHK Flat in Sector 109 Gurgaon         1
4 BHK Flat in Suncity, Gurgaon           1
Name: count, Length: 439, dtype: int64

In [14]:
df.insert(loc=3,column='sector',value=df['Property Type'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [15]:
df['sector'].isna().sum()

np.int64(0)

In [16]:
df['sector'].value_counts()

sector
Sector 102               573
Sector 65                475
Sector 37D               412
Sector 106               325
Sector 113               323
                        ...
Garden Estate,             1
Block G Sector-57          1
Sector 1 Imt Manesar,      1
Sector 15                  1
Maruti Vihar,              1
Name: count, Length: 158, dtype: int64

In [17]:
df['sector'].unique()

array(['Sector 90', 'Sector 70A', 'Sector 68', 'Sector 107', 'Sector 95',
       'Sector 95A', 'Sector 85', 'Sector 65', 'Sector 106', 'Sector 76',
       'Sector 62', 'Sector 113', 'Sector 33', 'Sector 84', 'Sector 82',
       'Sector 69', 'Sector 91', 'Sector 102', 'Sector 104', 'Sector 67',
       'Sector 103', 'Sector 67A', 'Sector 83', 'Sector 86', 'Sector 99A',
       'Sector 108', 'sector 58', 'Nirvana Country,', 'Sector 50',
       'Sector 70', 'Sector 81', 'Sector 66', 'Sector 88A', 'Sohna,',
       'Sector 37D', 'Sector-2 Sohna,', 'Sector 89 A', 'Sector 79',
       'Sector 78', 'Sector 92', 'Sector 61', 'Sector-33 Sohna,',
       'Sector 89', 'Sector 110 A', 'Sector 93', 'Sector 47',
       'Sector 36A', 'Sector 77', 'Sector-35 Sohna,', 'Sector 37C',
       'Gwal Pahari,', 'Sector 111', 'Sector 99', 'Chakkarpur,',
       'Sector 112', 'Sector 110', 'Sector 48', 'Sector 60',
       'Phase 3 Sector 22A', 'Sector 72', 'DLF Phase 4,', 'Sector 28',
       'Sector 3', 'Malibu Town,', 'Sector-5 Sohna,', 'Sector 2',
       'Dayanand Colony,', 'Manesar,', 'Sector 56',
       'Udyog Vihar Phase 4,', 'Sector 74', 'Sector 71', 'Sector 53',
       'Sector 49', 'Sector 51', 'Sector 57', 'Sector 22', 'Sector 63A',
       'Sector 36 Sohna,', 'DLF Phase 1,', 'Sector 31', 'Sector 59',
       'DLF Phase 5,', 'Sector 54', 'Heritage City,',
       'Sushant Lok Phase 1,', 'DLF Phase 2,', 'Palam Vihar,',
       'South City 1,', 'Sector 43', 'Sector 52', 'Rail Vihar,',
       'Sector 82A', 'Ardee City,', 'Sector 109',
       'Sector 1A IMT Manesar,', 'Sushant Lok Phase 3,', 'MG Road,',
       'Sector 30', 'Sector 72A', 'D Block Sector-49,',
       'Sikandarpur Badha,', 'Sector 80', 'DLF Phase 3,', 'Tikri,',
       'Block S Sector 49', 'Ambience Island,', 'Sector 55', 'Sector 39',
       'Valley View Estate,', 'Sector 45', 'Sector 38',
       'Block E sector 56', 'Sector 63', 'Sector 42', 'Sector 23',
       'Pocket H Nirvana Country,', 'Wazirabad,',
       'Block S Uppals Southend,', 'A Block Sector 28',
       'Block T Sector-109', 'Block C Sector 45', 'Ashiana Project,',
       'A Block Sushant Lok Phase 1,', 'Naurangpur,',
       'Sushant Lok Phase 2,', 'Suncity,', 'Badshahpur,',
       'Sushant Lok 2,Sector 55', 'Block C, Sushant Lok Phase 1,',
       'Sector 9A', 'Fazilpur Jharsa,', 'Sector 41', 'Behrampur,',
       'Golf Course Ext Road,', 'Dwarka Expressway', 'DLF Cyber City,',
       'Sector 32', 'I Block Pocket I Sector 50', 'Sector 105',
       'Sector 88B', 'SS LInden,', 'Sector 15 Part 2,', 'Sector 36',
       'Samaspur,', 'Sector 5', 'Sector 73', 'Dhani,', 'Vr', 'Sector 9',
       'U Block DLF Phase 3,', 'V Block DLF Phase 3,', 'Sector-4 Sohna,',
       'Garden Estate,', 'Block G Sector-57', 'Sector 1 Imt Manesar,',
       'Sector 15', 'Maruti Vihar,'], dtype=object)

In [18]:
df['sector'] = df['sector'].str.lower()

In [19]:
df['sector'] = df['sector'].str.replace('mg road,','sector 28')
df['sector'] = df['sector'].str.replace('suncity,','sector 54')
df['sector'] = df['sector'].str.replace('dlf phase 1,','sector 26')
df['sector'] = df['sector'].str.replace('dlf phase 4,','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3,','sector 24')
df['sector'] = df['sector'].str.replace('dlf phase 2,','sector 25')
df['sector'] = df['sector'].str.replace('dlf phase 5,','sector 43')

In [20]:
df['sector'] = df['sector'].str.replace('nirvana country,','sector 50')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('south city 1,','sector 41')
df['sector'] = df['sector'].str.replace('palam vihar,','sector 2')
df['sector'] = df['sector'].str.replace('chakkarpur,','sector 28')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2,','sector 5')
df['sector'] = df['sector'].str.replace('valley view estate,','gwal pahari')

In [21]:
df['sector'] = df['sector'].str.replace('dayanand colony,','sector 6')
df['sector'] = df['sector'].str.replace('mehrauli  road,','sector 14')
df['sector'] = df['sector'].str.replace('ardee city,','sector 52')
df['sector'] = df['sector'].str.replace('heritage city,','sector 25')
df['sector'] = df['sector'].str.replace('ambience island,','sector 24')
df['sector'] = df['sector'].str.replace('malibu town,','sector 47')

In [22]:
df['sector'] = df['sector'].str.replace('gwal pahari,', 'sector 2', regex=False)
df['sector'] = df['sector'].str.replace('samaspur,', 'sector 51', regex=False)
df['sector'] = df['sector'].str.replace('udyog vihar phase 4,', 'sector 18', regex=False)
df['sector'] = df['sector'].str.replace('tikri,', 'sector 48', regex=False)
df['sector'] = df['sector'].str.replace('dlf cyber city,', 'sector 24', regex=False)
df['sector'] = df['sector'].str.replace('garden estate,', 'sector 27', regex=False)
df['sector'] = df['sector'].str.replace('maruti vihar,', 'sector 28', regex=False)

In [23]:
df['sector'] = df['sector'].str.replace('sohna road', 'sector 47', regex=False)
df['sector'] = df['sector'].str.replace('sohna,', 'sector 47', regex=False)
df['sector'] = df['sector'].str.replace('wazirabad,', 'sector 52', regex=False)
df['sector'] = df['sector'].str.replace('dwarka expressway', 'sector 102', regex=False)
df['sector'] = df['sector'].str.replace('naurangpur,', 'sector 79', regex=False)
df['sector'] = df['sector'].str.replace('badshahpur,', 'sector 66', regex=False)
df['sector'] = df['sector'].str.replace('manesar,', 'sector 85', regex=False)
df['sector'] = df['sector'].str.replace('golf course ext road,', 'sector 55', regex=False)
df['sector'] = df['sector'].str.replace('fazilpur jharsa,', 'sector 74a', regex=False)

In [24]:
df['sector'] = df['sector'].str.replace('gwal pahari', 'sector 2', regex=False)
df['sector'] = df['sector'].str.replace('ashiana project,', 'sector 46', regex=False)
df['sector'] = df['sector'].str.replace('behrampur,', 'sector 59', regex=False)
df['sector'] = df['sector'].str.replace('block s uppals southend,', 'sector 49', regex=False)
df['sector'] = df['sector'].str.replace('dhani,', 'sector 101', regex=False)
df['sector'] = df['sector'].str.replace('rail vihar,', 'sector 47', regex=False)
df['sector'] = df['sector'].str.replace('sikandarpur badha,', 'sector 38', regex=False)
df['sector'] = df['sector'].str.replace('ss linden,', 'sector 84', regex=False)
df['sector'] = df['sector'].str.replace('vr', 'sector 24', regex=False)

In [25]:
df['sector'].unique()

array(['sector 90', 'sector 70a', 'sector 68', 'sector 107', 'sector 95',
       'sector 95a', 'sector 85', 'sector 65', 'sector 106', 'sector 76',
       'sector 62', 'sector 113', 'sector 33', 'sector 84', 'sector 82',
       'sector 69', 'sector 91', 'sector 102', 'sector 104', 'sector 67',
       'sector 103', 'sector 67a', 'sector 83', 'sector 86', 'sector 99a',
       'sector 108', 'sector 58', 'sector 50', 'sector 70', 'sector 81',
       'sector 66', 'sector 88a', 'sector 47', 'sector 37d',
       'sector-2 sector 47', 'sector 89 a', 'sector 79', 'sector 78',
       'sector 92', 'sector 61', 'sector-33 sector 47', 'sector 89',
       'sector 110 a', 'sector 93', 'sector 36a', 'sector 77',
       'sector-35 sector 47', 'sector 37c', 'sector 2', 'sector 111',
       'sector 99', 'sector 28', 'sector 112', 'sector 110', 'sector 48',
       'sector 60', 'phase 3 sector 22a', 'sector 72', 'sector 3',
       'sector-5 sector 47', 'sector 6', 'sector 56', 'sector 18',
       'sector 74', 'sector 71', 'sector 53', 'sector 49', 'sector 51',
       'sector 57', 'sector 22', 'sector 63a', 'sector 36 sector 47',
       'sector 26', 'sector 31', 'sector 59', 'sector 43', 'sector 54',
       'sector 25', 'sector 43,', 'sector 41', 'sector 52', 'sector 82a',
       'sector 109', 'sector 1a imt sector 85', 'sector 57,', 'sector 30',
       'sector 72a', 'd block sector-49,', 'sector 38', 'sector 80',
       'sector 24', 'block s sector 49', 'sector 55', 'sector 39',
       'sector 45', 'block e sector 56', 'sector 63', 'sector 42',
       'sector 23', 'pocket h sector 50', 'a block sector 28',
       'block t sector-109', 'block c sector 45', 'sector 46',
       'a block sector 43,', 'sector 55,', 'sushant lok 2,sector 55',
       'block c, sector 43,', 'sector 9a', 'sector 74a', 'sector 32',
       'i block pocket i sector 50', 'sector 105', 'sector 88b',
       'sector 15 part 2,', 'sector 36', 'sector 5', 'sector 73',
       'sector 101', 'sector 9', 'u block sector 24', 'v block sector 24',
       'sector-4 sector 47', 'sector 27', 'block g sector-57',
       'sector 1 imt sector 85', 'sector 15'], dtype=object)

In [26]:
df['sector'].isna().sum()

np.int64(0)

In [27]:
import re
def extract_sector_number(sector_name):
    match = re.search(r'\bsector[-\s]?(?P<number>\d+)', sector_name.lower())
    if match:
        return f"sector {match.group('number')}"
    return None

In [28]:
df['Extracted Sector'] = df['sector'].apply(extract_sector_number)

In [29]:
df['Extracted Sector'].isna().sum()

np.int64(0)

In [30]:
df['Extracted Sector'].shape

(12447,)

In [31]:
df = df.drop(columns = ['sector' , 'Property Type' ,'Extra Room' ,'Unnamed: 0' ])

In [32]:
df.isna().sum()

Facing                           901
No_Bedroom                         0
No_Bathroom                        1
No_Balcony                         0
Age                                4
Overlooking                      774
Corner_Property                 4240
Furnishing                       416
Address                           17
Main Description                   3
Nearby Locations                   0
Features                           0
Dealer                             0
Society Name                       0
Price_in_Crore                     0
price_Per_Sqft_converted           2
given_area_in_sqft                 0
floor_number                       0
total_floors                       0
AreaType_Built-up Area             0
AreaType_Carpet Area               0
AreaType_Super Built-up Area       0
study room                         0
servant room                       0
store room                         0
pooja room                         0
others                             0
Extracted Sector                   0
dtype: int64

In [33]:
df.head()

,Facing,No_Bedroom,No_Bathroom,No_Balcony,Age,Overlooking,Corner_Property,Furnishing,Address,Main Description,Nearby Locations,Features,Dealer,Society Name,Price_in_Crore,price_Per_Sqft_converted,given_area_in_sqft,floor_number,total_floors,AreaType_Built-up Area,AreaType_Carpet Area,AreaType_Super Built-up Area,study room,servant room,store room,pooja room,others,Extracted Sector
0,West,2,2.0,1,1 to 5 Year Old,"Others,Park/Garden,Main Road",NaN,Unfurnished,"0001, Sector 90 Gurgaon, Gurgaon, Haryana","Green court society, which is bang on 60-Meter...","['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",Ashiana homes,Green Court,0.61,8840.0,690,14,14,0,0,1,0,0,1,0,0,sector 90
1,South,2,2.0,1,1 to 5 Year Old,"Others,Park/Garden,Main Road",NaN,Unfurnished,"0001, Sector 90 Gurgaon, Gurgaon, Haryana","Green court society, which is bang on 60-Meter...","['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",Ashiana homes,Green Court,0.7,10144.0,690,8,14,0,0,1,0,0,1,0,0,sector 90
2,North-East,2,2.0,1,1 to 5 Year Old,"Park/Garden,Club,Main Road",Yes,Semifurnished,"Sector 70A Gurgaon, Gurgaon, Haryana",Available for sale 2 bhk semi furnished in pyr...,"['Airia Mall', 'Sohna Road', ""St. Angel's Glob...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",dbn group,Pyramid Urban Homes,0.71,8492.0,836,9,17,0,0,1,0,0,0,0,0,sector 70
3,East,2,2.0,2,0 to 1 Year Old,"Pool,Park/Garden,Club,Main Road",Yes,Semifurnished,"Sector 68 Gurgaon, Gurgaon, Haryana",Looking for a 2 bhk property for sale in gurga...,"['Airia Mall', 'Southern Peripheral Road', 'So...","['Power Back-up', 'Security / Fire Alarm', 'In...",Shree Shyam Properties,M3M The Marina,1.55,12301.0,1260,9,20,0,0,1,0,0,0,0,0,sector 68
4,North,2,2.0,4,1 to 5 Year Old,"Pool,Club,Park/Garden",Yes,NaN,"101, Sector 107 Gurgaon, Gurgaon, Haryana",This 2 bhk apartment is available for sale in ...,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...","['Power Back-up', 'Intercom Facility', 'Lift(s...",JBM Buildtech Pvt Ltd,M3M Woodshire,1.3,9516.0,1366,1,14,0,0,1,0,0,0,0,0,sector 107

In [34]:
#overlooking
df['Overlooking'] = df['Overlooking'].str.lower()

In [35]:
df['Overlooking'].iloc[89]

'main road,club,park/garden,pool,others'

In [36]:
df['Overlooking'].fillna('Information not available' , inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_2024\455245707.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Overlooking'].fillna('Information not available' , inplace=True)

In [37]:
df['Overlooking'].value_counts()

Overlooking
pool,park/garden,club,main road,others               1356
pool,park/garden,club,main road                       994
park/garden                                           979
Information not available                             774
main road,club,park/garden,pool,others                644
                                                     ...
park/garden,pool,club,others,sea facing,main road       1
pool,park/garden,sea facing,main road,others            1
pool,others,sea facing,park/garden,main road,club       1
main road,park/garden,club,others,pool                  1
park/garden,club,sea facing,others,main road            1
Name: count, Length: 438, dtype: int64

In [38]:
df['Overlooking'].unique()

array(['others,park/garden,main road', 'park/garden,club,main road',
       'pool,park/garden,club,main road', 'pool,club,park/garden',
       'park/garden,main road', 'main road,park/garden',
       'park/garden,main road,club,sea facing,others,pool',
       'park/garden,main road,club,pool,others,sea facing',
       'Information not available',
       'pool,park/garden,club,others,main road',
       'park/garden,main road,club,sea facing',
       'pool,park/garden,club,main road,others',
       'park/garden,club,main road,others,pool', 'park/garden',
       'pool,park/garden,main road,club,others,sea facing',
       'pool,park/garden,main road,sea facing,others,club',
       'pool,park/garden,club,main road,others,sea facing',
       'park/garden,club,main road,pool',
       'park/garden,pool,club,main road,others', 'others',
       'club,park/garden', 'main road',
       'pool,park/garden,others,main road,club,sea facing',
       'main road,club,park/garden,pool,others',
       'club,pool,park/garden,main road,sea facing,others',
       'park/garden,club,pool', 'park/garden,others,main road',
       'park/garden,others,main road,club',
       'park/garden,club,pool,others,sea facing,main road',
       'park/garden,club,main road,others',
       'park/garden,main road,others', 'pool,park/garden,club',
       'pool,main road,sea facing,others,park/garden,club',
       'pool,main road,sea facing',
       'park/garden,club,pool,main road,others,sea facing',
       'main road,park/garden,pool',
       'pool,club,sea facing,others,main road,park/garden',
       'park/garden,main road,club,pool',
       'pool,park/garden,main road,others,club',
       'pool,park/garden,club,main road,sea facing,others',
       'park/garden,main road,others,sea facing,club',
       'park/garden,main road,club', 'park/garden,others',
       'pool,club,main road', 'pool,park/garden,main road,club,others',
       'park/garden,main road,sea facing,others,pool',
       'park/garden,club,others,main road,pool',
       'pool,park/garden,club,main road,sea facing',
       'pool,sea facing,main road,park/garden,others', 'main road,others',
       'club,park/garden,others', 'main road,park/garden,club',
       'pool,park/garden,main road,club',
       'pool,others,club,main road,park/garden',
       'club,park/garden,pool,main road,others,sea facing',
       'main road,club,pool,others,sea facing',
       'main road,club,park/garden,pool',
       'park/garden,club,others,main road,sea facing', 'club,main road',
       'main road,club,park/garden', 'club,pool',
       'park/garden,club,pool,main road', 'pool,park/garden,main road',
       'club,pool,park/garden,main road,others',
       'park/garden,main road,club,others',
       'main road,park/garden,club,pool,others', 'park/garden,club',
       'pool', 'main road,park/garden,pool,club,others',
       'main road,park/garden,club,pool',
       'pool,club,sea facing,park/garden,others,main road',
       'others,main road',
       'pool,club,sea facing,others,park/garden,main road',
       'pool,others,park/garden,club,main road',
       'park/garden,club,pool,others,main road,sea facing',
       'park/garden,pool,others,main road,sea facing',
       'park/garden,pool,club,others,main road,sea facing',
       'park/garden,pool,club,main road,others,sea facing',
       'club,park/garden,pool,others,main road',
       'club,park/garden,pool,main road,others',
       'park/garden,main road,sea facing,pool,club,others',
       'pool,park/garden,club,others,main road,sea facing',
       'club,pool,park/garden', 'park/garden,pool,others',
       'park/garden,pool,main road', 'club',
       'pool,main road,club,park/garden',
       'main road,park/garden,sea facing', 'pool,park/garden',
       'main road,club', 'pool,park/garden,others',
       'park/garden,pool,main road,club', 'park/garden,pool,club',
       'pool,park/garden,club,others', 'park/garden,pool,club,main road',
       'park/garden,pool,others,club,main road',
       'pool,club,others,park/garden', 'main road,sea facing,park/garden',
       'main road,sea facing,others',
       'pool,park/garden,club,sea facing,others,main road',
       'park/garden,main road,sea facing,others',
       'park/garden,main road,club,pool,others',
       'club,others,park/garden', 'club,others',
       'park/garden,main road,pool', 'club,main road,park/garden,pool',
       'park/garden,main road,club,pool,sea facing',
       'others,club,park/garden,pool,main road,sea facing',
       'park/garden,others,club,main road,pool,sea facing',
       'club,others,park/garden,pool,main road,sea facing',
       'park/garden,pool,club,others,main road',
       'pool,park/garden,main road,sea facing,club,others',
       'club,park/garden,main road,pool',
       'club,park/garden,pool,others,main road,sea facing',
       'pool,main road,park/garden,others,club',
       'others,main road,park/garden,pool',
       'pool,park/garden,others,main road',
       'park/garden,others,club,pool,main road,sea facing',
       'park/garden,club,main road,pool,others',
       'pool,club,sea facing,park/garden,main road,others',
       'pool,park/garden,main road,club,sea facing,others',
       'park/garden,pool', 'main road,park/garden,others',
       'main road,club,others,pool,park/garden',
       'park/garden,main road,pool,club', 'main road,others,sea facing',
       'pool,park/garden,others,main road,sea facing,club',
       'pool,main road,park/garden,club,sea facing',
       'main road,others,pool,park/garden,club',
       'main road,pool,park/garden,club,others',
       'others,club,pool,park/garden,main road,sea facing', 'pool,others',
       'pool,club,others,sea facing,main road,park/garden',
       'main road,park/garden,others,pool,club', 'park/garden,sea facing',
       'pool,main road,park/garden,others,club,sea facing',
       'others,pool,park/garden,club,main road',
       'others,main road,park/garden,club',
       'park/garden,main road,others,club', 'park/garden,club,others',
       'main road,park/garden,pool,club',
       'main road,pool,park/garden,club',
       'pool,club,park/garden,main road,others',
       'pool,club,park/garden,main road,others,sea facing',
       'park/garden,sea facing,others,main road',
       'main road,club,pool,others,park/garden', 'club,park/garden,pool',
       'park/garden,main road,pool,club,sea facing,others',
       'sea facing,main road,others',
       'main road,park/garden,others,club,sea facing',
       'park/garden,sea facing,main road,others',
       'pool,park/garden,main road,sea facing,club',
       'pool,main road,park/garden,club,others',
       'pool,club,park/garden,main road',
       'park/garden,pool,others,main road,club,sea facing',
       'pool,club,main road,others',
       'park/garden,main road,others,sea facing',
       'club,pool,park/garden,main road',
       'pool,others,club,park/garden,main road',
       'park/garden,club,pool,others',
       'park/garden,others,main road,club,pool',
       'park/garden,others,club,main road,pool',
       'pool,club,main road,park/garden',
       'pool,main road,park/garden,club,others,sea facing',
       'pool,park/garden,main road,others',
       'club,main road,park/garden,pool,others', 'pool,club',
       'pool,park/garden,club,sea facing,main road',
       'pool,others,park/garden,main road,club',
       'park/garden,pool,others,main road,club',
       'park/garden,main road,club,others,pool',
       'main road,others,park/garden',
       'pool,park/garden,others,sea facing',
       'main road,club,park/garden,others,pool',
       'club,pool,park/garden,others', 'club,main road,park/garden',
       'club,pool,main road', 'main road,park/garden,pool,others',
       'pool,main road,park/garden,club',
       'park/garden,main road,sea facing',
       'main road,park/garden,pool,others,club',
       'club,park/garden,pool,others',
       'main road,pool,others,park/garden,club',
       'main road,club,pool,park/garden,others',
       'pool,main road,park/garden,club,sea facing,others',
       'others,pool,park/garden,main road,club',
       'park/garden,lake facing',
       'park/garden,main road,pool,club,others',
       'park/garden,club,pool,main road,others', 'main road,sea facing',
       'others,park/garden,main road,club', 'others,park/garden',
       'pool,park/garden,main road,club,sea facing',
       'pool,club,others,park/garden,main road,sea facing',
       'park/garden,main road,pool,sea facing,club,others',
       'pool,club,main road,park/garden,others',
       'main road,park/garden,sea facing,club,pool,others',
       'main road,pool,others,park/garden',
       'park/garden,pool,main road,club,sea facing',
       'main road,others,sea facing,park/garden,club,pool',
       'club,others,main road,park/garden',
       'others,park/garden,club,main road', 'main road,pool,club,others',
       'club,park/garden,main road',
       'pool,park/garden,sea facing,others,main road',
       'main road,pool,park/garden', 'others,main road,park/garden',
       'main road,club,park/garden,others',
       'sea facing,others,main road,club,park/garden,pool',
       'main road,club,pool', 'main road,pool,club',
       'park/garden,pool,main road,sea facing,others,club',
       'sea facing,main road,park/garden,others,club,pool',
       'park/garden,main road,sea facing,club,others,pool',
       'pool,club,main road,sea facing,park/garden',
       'pool,main road,others', 'club,park/garden,pool,main road',
       'pool,main road,others,club,park/garden',
       'pool,park/garden,others,club,main road',
       'pool,park/garden,main road,others,sea facing',
       'club,park/garden,others,pool,main road,sea facing',
       'pool,park/garden,others,sea facing,club,main road',
       'park/garden,pool,club,main road,sea facing,others',
       'pool,club,park/garden,main road,sea facing,others',
       'main road,park/garden,others,sea facing',
       'pool,main road,park/garden',
       'pool,park/garden,main road,others,sea facing,club',
       'park/garden,pool,main road,sea facing,others',
       'club,pool,park/garden,main road,others,sea facing',
       'park/garden,pool,main road,sea facing,club,others',
       'club,main road,pool,others,park/garden',
       'park/garden,main road,pool,others',
       'club,park/garden,main road,others', 'others,club,park/garden',
       'park/garden,club,pool,others,main road',
       'park/garden,pool,main road,others,sea facing,club',
       'pool,park/garden,main road,others,club,sea facing',
       'park/garden,pool,main road,others,club,sea facing',
       'pool,club,sea facing,main road,others,park/garden',
       'pool,club,main road,park/garden,sea facing',
       'park/garden,club,main road,others,sea facing', 'pool,main road',
       'park/garden,pool,main road,club,sea facing,others',
       'park/garden,sea facing,others',
       'park/garden,sea facing,club,pool,main road,others',
       'park/garden,club,pool,sea facing,main road,others',
       'park/garden,sea facing,club,main road,others,pool',
       'others,park/garden,pool,club,main road',
       'club,park/garden,others,pool,sea facing,main road',
       'club,pool,others,park/garden,main road',
       'club,sea facing,others,park/garden,main road,pool',
       'park/garden,main road,sea facing,others,club,pool',
       'main road,park/garden,others,pool',
       'pool,club,sea facing,park/garden,main road',
       'main road,club,pool,park/garden',
       'pool,club,main road,park/garden,sea facing,others',
       'park/garden,others,pool,sea facing,club,main road',
       'pool,park/garden,others,main road,club',
       'pool,main road,park/garden,sea facing,club',
       'pool,main road,others,park/garden,sea facing,club',
       'pool,main road,sea facing,park/garden,others,club',
       'club,main road,pool,park/garden,others',
       'club,pool,main road,park/garden',
       'park/garden,club,main road,others,sea facing,pool',
       'pool,park/garden,sea facing,others,club,main road',
       'pool,others,park/garden,main road',
       'park/garden,main road,others,pool,club',
       'main road,park/garden,others,sea facing,club,pool',
       'pool,main road,sea facing,others,club,park/garden',
       'club,sea facing,others,park/garden,pool,main road',
       'park/garden,others,pool,club,main road',
       'park/garden,pool,club,main road,sea facing',
       'pool,park/garden,others,club,main road,sea facing',
       'pool,club,others,park/garden,main road',
       'pool,park/garden,club,sea facing,main road,others',
       'main road,park/garden,club,sea facing,pool',
       'club,main road,park/garden,sea facing,others',
       'park/garden,main road,pool,sea facing',
       'park/garden,pool,club,sea facing',
       'club,park/garden,main road,sea facing',
       'park/garden,sea facing,main road,pool,club',
       'park/garden,others,sea facing,main road,pool,club',
       'pool,club,main road,others,park/garden,sea facing',
       'pool,park/garden,club,others,sea facing',
       'park/garden,main road,club,sea facing,others',
       'park/garden,main road,others,pool',
       'pool,main road,others,sea facing,park/garden,club',
       'club,main road,others', 'park/garden,club,others,main road',
       'pool,sea facing,others,park/garden,club,main road',
       'club,park/garden,pool,main road,sea facing,others',
       'pool,main road,club,park/garden,others',
       'park/garden,pool,main road,others,club',
       'others,main road,club,park/garden,pool', 'main road,club,others',
       'club,pool,park/garden,others,main road',
       'main road,pool,park/garden,others',
       'club,park/garden,main road,pool,others',
       'park/garden,sea facing,main road,others,club,pool',
       'pool,others,club,sea facing,main road,park/garden',
       'park/garden,main road,others,club,pool',
       'pool,main road,sea facing,park/garden,others',
       'pool,others,park/garden',
       'club,park/garden,others,pool,main road', 'pool,main road,club',
       'pool,main road,others,park/garden',
       'park/garden,club,others,sea facing,pool,main road',
       'club,main road,pool',
       'pool,sea facing,park/garden,main road,club,others',
       'park/garden,pool,club,others', 'club,main road,pool,park/garden',
       'park/garden,pool,main road,club,others,sea facing',
       'park/garden,others,pool,club',
       'park/garden,pool,main road,club,others',
       'park/garden,pool,club,sea facing,others,main road',
       'park/garden,sea facing,main road', 'pool,club,park/garden,others',
       'main road,park/garden,club,sea facing,others,pool',
       'pool,others,main road,club,park/garden',
       'park/garden,others,pool,main road',
       'park/garden,club,pool,sea facing,others,main road', 'sea facing',
       'park/garden,pool,main road,others',
       'main road,park/garden,sea facing,others,club,pool',
       'main road,pool', 'main road,others,club',
       'park/garden,sea facing,club,main road,pool,others',
       'park/garden,others,pool,sea facing,main road,club',
       'pool,club,park/garden,others,main road,sea facing',
       'sea facing,main road',
       'pool,others,sea facing,main road,park/garden,club',
       'park/garden,others,club',
       'park/garden,club,sea facing,others,main road,pool', 'others,club',
       'park/garden,others,pool,main road,club,sea facing',
       'pool,club,sea facing,park/garden',
       'park/garden,main road,club,pool,sea facing,others', 'others,pool',
       'club,others,main road,pool,park/garden',
       'club,main road,others,pool,park/garden',
       'park/garden,pool,sea facing', 'pool,others,park/garden,club',
       'main road,park/garden,club,others',
       'main road,pool,others,club,park/garden',
       'others,main road,park/garden,sea facing,pool',
       'sea facing,park/garden,main road,pool',
       'club,park/garden,main road,others,pool',
       'main road,park/garden,others,club,pool',
       'pool,club,others,main road,park/garden,sea facing',
       'club,others,main road,park/garden,pool',
       'club,pool,park/garden,others,main road,sea facing',
       'others,main road,sea facing,park/garden,club,pool',
       'pool,others,main road,park/garden,club',
       'club,park/garden,others,pool',
       'main road,club,others,park/garden,pool', 'main road,others,pool',
       'park/garden,others,club,main road',
       'others,park/garden,pool,main road,club', 'pool,others,main road',
       'pool,park/garden,sea facing,club,others,main road',
       'park/garden,others,main road,pool,club,sea facing',
       'pool,main road,others,park/garden,club',
       'park/garden,club,others,sea facing,main road,pool',
       'pool,club,others',
       'park/garden,pool,sea facing,others,club,main road',
       'main road,others,park/garden,club,pool',
       'club,main road,park/garden,sea facing',
       'pool,club,sea facing,main road,park/garden,others',
       'club,main road,park/garden,others,pool',
       'park/garden,others,club,sea facing,main road,pool',
       'pool,club,main road,sea facing,others,park/garden',
       'others,park/garden,club',
       'park/garden,others,pool,sea facing,club',
       'pool,main road,sea facing,park/garden,club',
       'park/garden,sea facing,club,main road,pool',
       'park/garden,club,sea facing,main road,pool',
       'club,park/garden,sea facing,pool,main road',
       'park/garden,main road,sea facing,others,pool,club',
       'park/garden,club,main road,others,pool,sea facing',
       'pool,park/garden,sea facing,main road',
       'park/garden,pool,sea facing,others,main road,club',
       'pool,park/garden,main road,sea facing',
       'main road,sea facing,park/garden,pool,club',
       'club,main road,others,park/garden,sea facing',
       'pool,club,park/garden,main road,sea facing',
       'park/garden,main road,pool,others,club,sea facing',
       'others,pool,club,main road,park/garden',
       'park/garden,pool,others,main road', 'club,others,main road',
       'pool,main road,park/garden,others,sea facing,club',
       'park/garden,main road,pool,club,others,sea facing',
       'others,park/garden,club,main road,pool',
       'club,pool,main road,park/garden,others',
       'park/garden,main road,sea facing,club,pool',
       'park/garden,club,main road,sea facing,others',
       'club,others,park/garden,main road',
       'park/garden,main road,club,others,sea facing,pool',
       'club,park/garden,others,main road,pool',
       'club,park/garden,pool,main road,sea facing',
       'park/garden,main road,pool,others,sea facing',
       'park/garden,others,pool', 'others,club,pool',
       'park/garden,sea facing,club',
       'sea facing,others,main road,park/garden,club,pool',
       'main road,pool,club,park/garden',
       'main road,park/garden,others,club',
       'others,pool,park/garden,club',
       'pool,club,main road,others,park/garden',
       'pool,main road,others,park/garden,club,sea facing',
       'park/garden,pool,others,main road,sea facing,club',
       'park/garden,pool,club,others,sea facing,main road',
       'club,pool,main road,park/garden,sea facing',
       'club,pool,park/garden,main road,sea facing',
       'park/garden,main road,sea facing,club,pool,others',
       'pool,sea facing,main road,park/garden,club,others',
       'others,pool,club,park/garden,sea facing',
       'pool,sea facing,park/garden,main road',
       'park/garden,others,club,pool,main road',
       'park/garden,club,sea facing,others,main road',
       'main road,park/garden,club,others,pool',
       'pool,others,sea facing,park/garden,main road,club',
       'pool,park/garden,sea facing,main road,others',
       'main road,others,park/garden,sea facing,pool,club',
       'club,sea facing,main road,others,park/garden',
       'pool,park/garden,club,sea facing',
       'pool,park/garden,others,sea facing,main road,club',

In [39]:
new_cols1 = ['main road', 'sea facing', 'club', 'park/garden', 'others' , 'pool' ,'lake facing' ,'Information not available' ]

# Populate the new columns based on the "Extra Room" column
for col in new_cols1:
    df[col] = df['Overlooking'].str.contains(col).astype(int)

In [40]:
df = df.rename(columns={'main road' :'Overlooking_main road', 'sea facing':'Overlooking_sea facing', 'club':'Overlooking_club', 'park/garden':'Overlooking_park/garden', 'others':'Overlooking_others' , 'pool':'Overlooking_pool' ,'lake facing':'Overlooking_lake facing' ,'Information not available':'Overlooking_NA'})

In [41]:
df.head()

,Facing,No_Bedroom,No_Bathroom,No_Balcony,Age,Overlooking,Corner_Property,Furnishing,Address,Main Description,Nearby Locations,Features,Dealer,Society Name,Price_in_Crore,price_Per_Sqft_converted,given_area_in_sqft,floor_number,total_floors,AreaType_Built-up Area,AreaType_Carpet Area,AreaType_Super Built-up Area,study room,servant room,store room,pooja room,Overlooking_others,Extracted Sector,Overlooking_main road,Overlooking_sea facing,Overlooking_club,Overlooking_park/garden,Overlooking_pool,Overlooking_lake facing,Overlooking_NA
0,West,2,2.0,1,1 to 5 Year Old,"others,park/garden,main road",NaN,Unfurnished,"0001, Sector 90 Gurgaon, Gurgaon, Haryana","Green court society, which is bang on 60-Meter...","['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",Ashiana homes,Green Court,0.61,8840.0,690,14,14,0,0,1,0,0,1,0,1,sector 90,1,0,0,1,0,0,0
1,South,2,2.0,1,1 to 5 Year Old,"others,park/garden,main road",NaN,Unfurnished,"0001, Sector 90 Gurgaon, Gurgaon, Haryana","Green court society, which is bang on 60-Meter...","['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",Ashiana homes,Green Court,0.7,10144.0,690,8,14,0,0,1,0,0,1,0,1,sector 90,1,0,0,1,0,0,0
2,North-East,2,2.0,1,1 to 5 Year Old,"park/garden,club,main road",Yes,Semifurnished,"Sector 70A Gurgaon, Gurgaon, Haryana",Available for sale 2 bhk semi furnished in pyr...,"['Airia Mall', 'Sohna Road', ""St. Angel's Glob...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",dbn group,Pyramid Urban Homes,0.71,8492.0,836,9,17,0,0,1,0,0,0,0,0,sector 70,1,0,1,1,0,0,0
3,East,2,2.0,2,0 to 1 Year Old,"pool,park/garden,club,main road",Yes,Semifurnished,"Sector 68 Gurgaon, Gurgaon, Haryana",Looking for a 2 bhk property for sale in gurga...,"['Airia Mall', 'Southern Peripheral Road', 'So...","['Power Back-up', 'Security / Fire Alarm', 'In...",Shree Shyam Properties,M3M The Marina,1.55,12301.0,1260,9,20,0,0,1,0,0,0,0,0,sector 68,1,0,1,1,1,0,0
4,North,2,2.0,4,1 to 5 Year Old,"pool,club,park/garden",Yes,NaN,"101, Sector 107 Gurgaon, Gurgaon, Haryana",This 2 bhk apartment is available for sale in ...,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...","['Power Back-up', 'Intercom Facility', 'Lift(s...",JBM Buildtech Pvt Ltd,M3M Woodshire,1.3,9516.0,1366,1,14,0,0,1,0,0,0,0,0,sector 107,0,0,1,1,1,0,0

In [42]:
df = df.drop(columns = ['Overlooking' ])

In [43]:
df.isna().sum()

Facing                           901
No_Bedroom                         0
No_Bathroom                        1
No_Balcony                         0
Age                                4
Corner_Property                 4240
Furnishing                       416
Address                           17
Main Description                   3
Nearby Locations                   0
Features                           0
Dealer                             0
Society Name                       0
Price_in_Crore                     0
price_Per_Sqft_converted           2
given_area_in_sqft                 0
floor_number                       0
total_floors                       0
AreaType_Built-up Area             0
AreaType_Carpet Area               0
AreaType_Super Built-up Area       0
study room                         0
servant room                       0
store room                         0
pooja room                         0
Overlooking_others                 0
Extracted Sector                   0
Overlooking_main road              0
Overlooking_sea facing             0
Overlooking_club                   0
Overlooking_park/garden            0
Overlooking_pool                   0
Overlooking_lake facing            0
Overlooking_NA                     0
dtype: int64

In [44]:
# Age
df['Age'].unique()

array(['1 to 5 Year Old', '0 to 1 Year Old', '5 to 10 Year Old',
       'Within 6 months', 'Feb 2031', 'Dec 2025', 'Sep 2025', 'Dec 2026',
       'By 2027', 'Dec 2024', 'Dec 2028', 'Jan 2027', 'Apr 2025',
       'May 2025', 'May 2026', 'Sep 2024', 'Dec 2027', 'Feb 2029',
       'By 2028', 'By 2025', '10+ Year Old', 'Within 3 months', 'By 2026',
       'Under Construction', 'Jun 2025', 'Jan 2026', 'Nov 2025',
       'Oct 2027', 'May 2027', 'Feb 2025', 'Aug 2026', 'Mar 2025',
       'Feb 2026', 'Jan 2025', 'Oct 2025', 'Mar 2026', 'Apr 2027',
       'Nov 2024', 'Jul 2027', 'Aug 2025', 'Jan 2029', 'Nov 2028',
       'Oct 2024', 'Dec 2029', 'Sep 2026', 'Jul 2026', 'Jan 2028',
       'Nov 2026', 'Jun 2027', 'Jun 2026', 'Jun 2028', 'Oct 2029',
       'Feb 2027', 'Mar 2027', 'Nov 2029', 'Oct 2026', 'Mar 2030',
       'Apr 2029', 'Jul 2025', 'Apr 2028', 'By 2030', 'Mar 2029',
       'Dec 2030', 'Apr 2026', 'Feb 2028', 'Sep 2028', 'May 2028',
       'Nov 2027', 'Aug 2027', 'Mar 2028', 'Jul 2029', 'Jul 2028',
       'Aug 2028', 'Jun 2029', 'Dec 2031', 'Sep 2027', 'Apr 2030',
       'Aug 2029', nan, 'Jun 2031', 'By 2024', 'Sep 2029', 'Oct 2030',
       'Oct 2028', 'Mar 2031', 'May 2030', 'May 2029', 'Nov 2030',
       'By 2029', 'Feb 2030'], dtype=object)

In [45]:
def categorize_age_possession(value):
    if pd.isna(value):
        return "Undefined"
    if "0 to 1 Year Old" in value or "Within 6 months" in value or "Within 3 months" in value:
        return "New Property"
    if "1 to 5 Year Old" in value:
        return "Relatively New"
    if "5 to 10 Year Old" in value:
        return "Moderately Old"
    if "10+ Year Old" in value:
        return "Old Property"
    if "Under Construction" in value or "By" in value:
        return "Under Construction"
    try:
        # For entries like 'May 2024'
        int(value.split(" ")[-1])
        return "Under Construction"
    except:
        return "Undefined"

In [46]:
df['flat_age'] = df['Age'].apply(categorize_age_possession)

In [47]:
df['flat_age'].unique()

array(['Relatively New', 'New Property', 'Moderately Old',
       'Under Construction', 'Old Property', 'Undefined'], dtype=object)

In [48]:
df = df.drop(columns = ['Age' ])

In [49]:
df.sample(6)

,Facing,No_Bedroom,No_Bathroom,No_Balcony,Corner_Property,Furnishing,Address,Main Description,Nearby Locations,Features,Dealer,Society Name,Price_in_Crore,price_Per_Sqft_converted,given_area_in_sqft,floor_number,total_floors,AreaType_Built-up Area,AreaType_Carpet Area,AreaType_Super Built-up Area,study room,servant room,store room,pooja room,Overlooking_others,Extracted Sector,Overlooking_main road,Overlooking_sea facing,Overlooking_club,Overlooking_park/garden,Overlooking_pool,Overlooking_lake facing,Overlooking_NA,flat_age
11640,East,3,4.0,4,Yes,Semifurnished,"sector 58 Gurgaon, Gurgaon, Haryana",Located in the popular residential address of ...,"['Sector 55-56 Rapid Metro', 'Paras Trinity Ma...","['Centrally Air Conditioned', 'Water purifier'...",ABHIAAYAN,Ireo The Grand Arch,4.15,19177.0,2164,15,29,0,0,1,0,1,0,0,0,sector 58,0,0,1,1,1,0,0,Moderately Old
11757,North-East,3,2.0,4,Yes,Semifurnished,"Sector 37D Gurgaon, Gurgaon, Haryana",This property is very good becouse of itsattre...,"['The Esplanade Mall', 'Dwarka Expressway', 'E...","['Water purifier', 'Security / Fire Alarm', 'P...",Empire Makers Consulting,Signature Global City,0.98,7509.0,1305,3,4,0,0,1,1,0,0,0,0,sector 37,1,0,1,1,1,0,0,New Property
6565,NaN,3,3.0,2,NaN,Unfurnished,"Sector 83 Gurgaon, Gurgaon, Haryana",Ss cendana and ss kiavasa is one of gurgaon's ...,"['HUDA City Centre Metro Station', 'Sapphire 8...","['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",Ramansh Realty,SS Cendana and SS Kiavasa,2.61,23966.0,1850,10,33,0,0,1,1,0,0,0,0,sector 83,0,0,0,0,0,0,1,Under Construction
4883,North-West,4,4.0,4,Yes,Semifurnished,"Sector 113 Gurgaon , Gurgaon, Haryana",M3m capital is one of gurgaon's most sought af...,"['Phase 2 Metro Station', 'Global Foyer Mall',...","['Security / Fire Alarm', 'Private Garden / Te...",Garg Realtors,M3M Capital,3.15,15291.0,2060,13,36,0,0,1,1,1,0,0,0,sector 113,1,0,0,0,0,0,0,Under Construction
7620,North-East,3,3.0,4,Yes,Semifurnished,"Not Applicable, Sector 113 Gurgaon , Gurgaon, ...",Located in the popular residential address of ...,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...","['Centrally Air Conditioned', 'Security / Fire...",Link properties and developers Pvt limited,Tata Gurgaon Gateway,2.8,12641.0,2215,18,24,0,0,1,0,0,0,1,1,sector 113,1,0,1,1,1,0,0,Relatively New
11957,North-East,2,2.0,3,Yes,Semifurnished,"2bhk, Sector 70 Gurgaon, Gurgaon, Haryana",Check out this 2 bhk apartment for sale in shr...,"['Airia Mall', 'Golf Course Extn Road', 'Sohna...","['Security / Fire Alarm', 'Power Back-up', 'Fe...",Group 3 Realtors,Shree Vardhman Victoria,1.5,11111.0,1350,4,18,0,0,1,1,0,0,0,1,sector 70,1,1,1,1,1,0,0,New Property

In [50]:
df['Dealer'] = df['Dealer'].str.lower()

In [51]:
len(df['Dealer'].unique())

796

In [52]:
df['Society Name'] = df['Society Name'].str.lower()

In [53]:
len(df['Society Name'].unique())

775

In [54]:
df['Address'].fillna("Gurgoan" , inplace = True)

C:\Users\dell\AppData\Local\Temp\ipykernel_2024\4083356501.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Address'].fillna("Gurgoan" , inplace = True)

In [55]:
df['Address'] = df['Address'].str.lower()

In [56]:
df.to_csv("cleaned_data_v2.csv")